body{
    background-color: cadetblue;
    background-image: url("http://4.bp.blogspot.com/-KD33uTe8GyE/UHB1YPEsrfI/AAAAAAAAGv8/26jM_2y8rWY/s1600/The+Tiger+Strikes+Again+Wild+Animals239.jpg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;

  
}